* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --fc-display: #323238;

  --bgc-button: #E1E1E6;
  --bgc-active-button: #02799D;
  --fc-icon-button: #323238;
  --fc-icon-active-button: #FFFFFF;
}

body {
  font-size: 1.6rem;

  min-height: 100vh;

  display: grid;
  place-items: center;
}

.hide {
  display: none;
}

.container {
  width: 82.1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.timer {
  width: 32.1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.7rem;
}

.display {
  font-family: 'Roboto', sans-serif;
  font-size: 12.6rem;
  color: var(--fc-display);
  text-align: center;

  display: flex;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.controls button {
  background-color: transparent;
  border: none;

  cursor: pointer;
}

.sounds {
  width: 30.8rem;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3.2rem;
}

.sounds button {
  width: 13.8rem;
  height: 15.2rem;
  background-color: var(--bgc-button);
  border: none;
  border-radius: 2.4rem;

  cursor: pointer;
}

.sounds button.active {
  background-color: var(--bgc-active-button);
}

.sounds button svg {
  max-width: 5.6rem;
  max-height: 5.6rem;
}

.sounds button.active svg path {
  fill: var(--fc-icon-active-button);
} 